body{
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

.container{
    max-width:max-content;
    margin:0 initial;
    padding:0 25px;
}

.navbar{
    background-color: black;
    padding: 10px 0;
    display:flexbox;
    justify-content: space-around;
    align-items: center;
}

.navbar img{
    width: 100px;
}

.nav-icons a{
    color:white;
    margin: 30px 20px;
    text-decoration:none;
    text-align: center;
    flex-flow:inherit;
}

.welcome{
    background-image: url("https://images.ctfassets.net/4cd45et68cgf/2xKbslzmH4UclJQXdNWElC/e89d7a54ff252aa0ffdbe6d98223ef10/Netflix_Kcon_Eng_Hrz_Web.jpg?w=2000");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: auto;
    padding:150px 150px;
}

.welcome h1{
    font-size: 7rem;
    margin-bottom: 20px;
    align-content:center;
}
.welcome p{
    font-size: 2rem;
    margin-bottom: 30px;
    align-content: center;
}
.welcome button{
    background-color: #e11c07;
    color:hsl(230, 71%, 93%);
    padding:10px 20px;
    border:none;
    border-radius:20px;
    margin: auto;
    font-size: 1.2rem;
    cursor:pointer;
    align-self: center;
}

.footer-basic {
    padding:40px 0;
    background-color:#100202;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: inline-flex;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    align-items: center;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-flex;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#f7fcff;
    margin-bottom:0;
  }
  footer p{
    margin: 0;
  }
.instagram img
{
  border-radius: 50px;
  width: 45px;
  margin:auto 0px;
}
.twitter img{
  border-radius: 50px;
  width:45px;
  margin:auto 0px;
}
.facebook img{
  border-radius: 50px;
  width: 45px;
  margin:auto 0px;
}
.profile img{
  border-radius: 50px;
  width:45px;
  margin:auto 20px;
  display:inline-flex;
  position:fixed;
}